@font-face {
    font-family: 'Whisper', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
}


.main-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.form-container {
    height: 400px;
    width: 200px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(212, 156, 87);
    box-shadow: 0 0 2em rgb(158, 117, 66);
}

.sign-picture {
    width: 400px;
    height: 400px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 3em rgb(158, 117, 66);
}

.sign-form {
    font-family: 'Whisper', cursive;
    font-weight: 1000;
    font-size: large;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-input {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: antiquewhite;
}