.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    background-color: white;
    font-family: 'Whisper', cursive;
    font-weight: 600;
    background-color: rgb(221, 184, 138);
}

.tick-popup {
    border: solid green 2px;
}

.cross-popup {
    border: solid red 2px;
}

.popup-container-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.close-popup-btn {
    position: absolute;
    top: 0%;
    right: 0%;
}