@font-face {
    font-family: 'My Soul', cursive;
    src: url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
}

.navbar {
    background-color: rgb(7, 80, 52);
    width: 95%;
    height: 120px;
    margin-left: 35px;
    margin-top: 15px;
    border-radius: 20px;
    border-bottom: 20px;
    box-shadow: 0 0 2em #6ce65e;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 100%;
    margin: 0 2em;
}

.git-icon > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.caption {
    font-family: 'Whisper', cursive;
    color: white;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}