.main-book-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Arial';
}

.book-detail-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book-detail-image-container span {
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.book-detail-image-container img {
    border-radius: 5px;
}

.book-detail-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 98%;
}

.info-cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    font-family: 'Verdana', cursive;
}

#description-span {
    margin-top: 15px;
}

.detail-info-container {
    display: flex;
    height: 80%;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

.rating-sub-div {
    margin-top: 5px;
}

.description-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    text-align:left;
    width: 85%;
}

.info-container {
    display: flex;
    align-items: flex-start;
}

.pre-cart-container {
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(8, 84, 55);
}

.pre-cart-container h2 {
    font-size: 35px;
    font-weight: 600;
}

.pre-cart-container form {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-label {
    font-size: 25px;
    font-weight: 400;
}

.pre-checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border:none
}

.pre-checkbox:checked {
    background-color: black;
}

.pre-checkbox-label {
    font-size: 15px;
}

.book-language-checkboxes {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.book-language-checkboxes input {
    margin-left: 13px;
}

.book-cover-checkboxes {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.book-cover-checkboxes input {
    margin-left: 13px;
}

.pre-checkboxes {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.info-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.comment-details-container {
    display: flex;
    flex-direction: column;
}

.main-comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    border-top: 3px solid white;
}

.comment-container {
    width: 75%;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-text-container{
    height: 60%;
    display: flex;
    justify-content: flex-start;
}

.under-image-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.under-image-container-label {
    font-size: 30px;
    font-weight: 700;
}

.small-content-under-image-container {
    border-radius: 5px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 60px;
    height: 30px;
}

.rate-div {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

#book-genre-under-container {
    width: 220px;
}

#price-span-under {
    font-size: 30px;
    font-weight: 700;
}

#comment-header {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

#comment-button-container {
    margin-bottom: 4px;
}

#user-comment-container {
    height: 140px;
}

#comment-text {
    margin-left: 10px;
}

#comments-label {
    font-size: 50px;
    color: green;
}

#quantity-input {
    margin-top: 10px;
}

.numeric-input {
    padding: 3px;
    outline: none
}

#rate-input {
    padding-left: 2px;
    width: 40px;
    height: 20px;
}

#rate-btn {
    margin-left: 20px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(186, 168, 168);
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

#add-item-btn {
    cursor: pointer;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(186, 168, 168);
    font-size: 16px;
    font-weight: 700;
}

#book-title {
    font-size: 50px;
    color: white;
}

#book-author {
    font-size: 20px;
    color: white;   
}

#description-label {
    font-size: 30px;
}

#comment-username {
    font-size: 18px;
    font-weight: 800;
}

#comment-input {
    resize: none;
    outline: none;
    border: solid 1px;
    height: 38%;
}