.small-btn {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: 800;
    font: 20;
}

.medium-btn {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 800;
    font: 20;
}

.large-btn {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 20px 40px;
    font-weight: 800;
    font: 20;
}

.large-btn:hover {
    background-color: #6ce65e;
}

.href-btn {
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: underline;
    cursor: pointer;


}
