.btn {
    border: none;
    cursor: pointer;
    border-radius: 500px;
    padding: 20px 40px;
    font-weight: 800;
    font: 20;
}

/* .btn:hover {
    box-shadow: 0 0 2em #6ce65e;
    background-color: #6ce65e;
} */