@font-face {
    font-family: 'Inconsolata', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
    
    font-family: 'Lobster', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

h1 {
    color: white;
    font-size: 50px;
    padding-top: 50px;
    font-family: 'Lobster', cursive;
}

.description {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
