.main-books-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 30px;
    gap: 50px 100px;
}

.book-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 37, 35);
    border-radius: 5px;
    width: 400px;
    height: 675px;
}

.book-image-container figcaption {
    padding-top: 10px;
    font-size: 30px;
    color: green;
}

.book-image-container img {
    cursor: pointer;
}

.description-container span {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 15px;
}

.author-span {
    color: white;
}