.main-container {
    display: grid;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.filter-stripe {
    background-color: rgb(32, 37, 35) !important;
    color: rgb(186, 168, 168);
    width: 30%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
}

.filter-sub-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.filter-sub-container input { 
    border: none;
    outline: none;
}

.input-filter-container {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    appearance: none;
    outline: none;
    cursor: pointer;
    border:none
}

.filter-checkbox:checked {
    background-color: grey;
}

#filter-btn {
    width: 70px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(186, 168, 168);
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

.main-books-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    gap: 50px 100px;
    font-family: 'Whisper', cursive;
}

.book-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 37, 35);
    border-radius: 5px;
    width: 350px;
    height: 750px;
}

.book-image-container figcaption {
    padding-top: 5px;
    font-size: 30px;
    color: green;
}

.book-image-container img {
    cursor: pointer;
}

.description-container span {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 10px;
}

.author-span {
    color: white;
}

#price-main {
    font-size: 30px;
    font-weight: 600;
    color: grey;
}

#rating-main {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-radius: 12px;
    width: 60px;
    height: 35px;
    font-size: 22px;
    border: solid;
    font-weight: 700;
    border-color: green;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif
}

#rating-main-container {
    display: flex;
    justify-content: center;
    margin-top: -6px;
}