.main-books-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    gap: 50px 100px;
}

.book-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 37, 35);
    border-radius: 5px;
    width: 350px;
    height: 675px;
}

.book-image-container figcaption {
    padding-top: 10px;
    font-size: 30px;
    color: green;
}

.book-image-container img {
    cursor: pointer;
}

.description-container span {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 15px;
}

.author-span {
    color: white;
}

#price-main {
    font-size: 30px;
    font-weight: 600;
    color: grey;
}

#rating-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 35px;
    font-size: 22px;
    border: solid;
    font-weight: 700;
    border-color: green;
}

#rating-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}